@import "tailwindcss";

:root {
    --header-font-normal: normal 400 "Sniglet", system-ui;
    --header-font-bold: normal 800 "Sniglet", system-ui;
    --body-font-normal: normal 400 "Sniglet", system-ui;
    --body-font-bold: normal 800 "Sniglet", system-ui;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: normal 400 20px "Sniglet", system-ui;
}

body {
    background: var(--background);
    color: var(--foreground);
    font: var(--body-font-normal);

    background: url("/background.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-container {
    position: relative;
}

.main-frame {
    position: relative;
    z-index: 2;
    background: url("/container.png") no-repeat center center / cover ;
    --element-width: min(579px, 100vw);
    --element-ration: calc(820 / 579);
    width: var(--element-width);
    max-height: 100vh;
    height: calc(var(--element-width) * var(--element-ration));
    padding: 8% 14% 11% 15%;;
}

.main-frame-content {
    position: absolute;
    z-index: 1;
    inset: 3% 9%;
    background: url("/panel-background.png");
}
