.row {
    --element-color: #c0d696;

    &.error {
        --element-color: #d30f0f;
    }

    &.added {
        --element-color: #5fabbd;
    }

    position: relative;
    display: flex;
    gap: 10px;
}

.imageContainer {
    width: 150px;
    margin: auto;

    img {
        margin-inline: auto;
        height: 59px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button {
    --element-color: #8bac5d;
    font: var(--header-font-bold);

    text-align: center;
    padding-block: 5px;
}

.error,
.loading {
    text-align: center;
    padding-block: 5px;
}

.error {
    --element-color: #d86969;
}

.loading {
    --element-color: #69add8;
}
